// Place all the styles related to the restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.field_with_errors {
  #restaurant_name {
    border-style: solid;
    border-color: #ff0000;
  }
}
